<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>ToDoリスト</title>
</head>
<body>
	<div>
		<h3 class="btn btn--orange">マイタスク</h3>
		<!-- 		<p th:each="todo : ${todos}" th:text="${todo.title}" /> -->
		<form th:each="todo : ${todos}"
			th:action="@{/todos/update/complete/} + ${todo.id}" method="post">
			<input type="checkbox" name="done" value="1" /> <input type="hidden"
				name="id" th:value="${todo.id}" /> <input type="text" name="title"
				th:value="${todo.title}" /> <input type="date" name="limit"
				th:value="${todo.limit}" /> <input type="submit" name="update"
				value="更新" /> <input type="submit" name="delete" value="完了" /> 
		</form>
<!-- 		<h3 class="btn btn--orange">完了済みタスク</h3>
		<p th:each="c : ${checked}" th:text="${c.title}" /> -->
	</div>
</body>
</html>